@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#steps-guide-container {
  width: 100%;
  height: 100%;
}

// for IE 10 & 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .submit_section .button {
    margin-bottom: 50px;
  }
  .button {
    h4.button_text {
      margin-top: 10px; 
    }
  }
}

@supports (-ms-ime-align: auto) {
  .submit_section .button {
    margin-bottom: 50px;
  }
}

div.criteria_box table {
  color: #5485f9;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  width: 100%;

  th {
    background-color: rgba(84, 133, 249, 0.2);
    border-right: solid 1px rgba(84, 133, 249, 0.2);
    padding: 0.7rem;
  }

  td {
    background-color: rgba(84, 133, 249, 0.03);
    border: solid 1px rgba(84, 133, 249, 0.2);
    text-align: center;
    padding: 0.5rem;
  }
}